img {
    width: 200px;
    height: 200px
}
body {
    margin: 0px;
}
main {
    padding: 16px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px
}
nav {
    border-color: black 1px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center
}
a:hover {
    background-color: lightgreen;
  }

.four-column-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

footer {
    padding: 24px, 0px;
    padding: 30px;
    background-color: #F2B84B;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    color: #eaeee9;
}

h1 {
    color: #538C51;
}

h2 {
    color: #538C51;
}

tr:nth-child(even) {
    background-color: #eaeee9;
}
th {
    background-color: #5687A6;
}

.four-column-grid {
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

}

.card {
    background-color: #AFBF73;
    border-radius: 15px;
}

.restitle {
    color: #001600;
    font-style: normal;
    text-decoration: none;
    border-radius: 100px 100px 0px 0px;
    height: 20px;
    padding: 15px;
}
.restitle:hover {
    background-color: #D95E32;
}
.restitle a {
    text-decoration: none;
    color: #001600;
    font-size: 20px;
}

.rating {
    background-color: #F5DE83;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}
nav {
    padding: 16px;
    background-color: #F2B84B;
    border-radius: 0px 0px 15px 15px;
}

.navlinks {
    color: #c2cdbf;
    font-style: normal;
    text-decoration: none;
}
.navlinks:hover {
    color: #568FA6;
}
